<div class="ui basic segment fixed-menu">
    <img src="{{site.baseurl}}/assets/logo.svg" class="ui centered image fluid"/>
    <br>
    <div>
        <strong>EDICIONES</strong> <br>
        <span class="grey-text">2019</span> <a href="{{site.baseurl}}/2019/inicial">[Inicial]</a> <a href="{{site.baseurl}}/2019/avanzado">[Avanzado]</a> </br>
        <span class="grey-text">2018</span>  <a href="{{site.baseurl}}/2018/inicial">[Inicial]</a>
    </div>
    <br>
    <div>
        <strong>JUECES PARA PRACTICAR</strong> <br>
        <a href="https://codeforces.com">[Codeforces]</a>
        <a href="https://atcoder.jp">[AtCoder]</a>
    </div>
    <br>
    <div>
        <strong>CÓDIGOS DE REFERENCIA</strong> <br>
        <em class="grey-text">El Vasito - Team Reference</em>: <a href="https://github.com/mhunicken/icpc-team-notebook-el-vasito">[GitHub]</a> <a href="https://drive.google.com/open?id=1XwYpxx2fg903648eEdYlWkW9Vf49gi2h">[PDF]</a>
    </div>
</div>
